.cast_cont {
    background-color: #ffffff;
    margin: 98px 240px 10px 2%;
    display: inline-block;
    width: 650px;
    padding: 12px 28px;
    font-size: 20px;
    font-family: Candara;
}
.div_subtitle {
    background-color: #9f9f9f;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Candara;
    font-size: 26px;
    border-radius: 5px;
    height: 44px;
    padding-top: 12px;
}
.comments {
    margin-top: 5px;
    width: 655px;
    height: 338px;
    background-color: #f3f2f2;
    border-radius: 5px;
}

    .comments > button {
        background-color: #ffffff;
        padding: 4px 5px;
        font-size: 23px;
        font-family: Candara;
        font-weight: bold;
        color: #6a6a6a;
        border-radius: 4px;
        border: 2px solid #cccccc;
        cursor:pointer;
    }

.com_input {
    margin-left: 10px;
    margin-top: 16px;
    width: 487px;
    padding: 4px 5px;
    font-size: 26px;
    font-family: Candara;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.com_container {
    overflow: auto;
    background-color: #ffffff;
    width: 625px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1.5px solid #c8c8c8;
    height: 205px;
}
.comment {
    margin-left: 15px;
    margin-top: 5px;
}
.comment .login {
    display: inline-block;
    font-weight: bold;
}
h1 {
    font-size: 1.17em;
}
.div_line{
    display:none;
}
.you_pl iframe{
    width: 560px;
    height: 315px;
}
.mob_but{
    display:none;
}
@media screen and (max-width:660px) {
    .cast_cont {
        width: 97%;
        margin: 50px 1% 10px 1%;
        padding: 5px 5px;
    }
    .comments{
        display:none;
    }
    .div_line {
        display: block;
        width: 95%;
        height: 2px;
        background-color: #b5b5b5;
    }
    h1{
        text-align:center;
    }
   .cast_cont{
       text-align:center;
       font-size:25px;
   }
   .you_pl iframe{
       width:95%;
       height:300px;
   }
    .mob_but {
        margin-top:20px;
        padding: 5px 0;
        display: inline-block;
        height: 45px;
        width: 95%;
        font-size: 31px;
        background-color: #aaaaaa;
        color: #ffffff;
        font-family: Candara;
        text-align: center;
        border: 2px solid #d9d9c6;
    }
}