.footer {
    width: 100%;
    position: absolute;
    height: 85px;
    background-color: #aaaaaa;
    margin-left: -8px;
    font-family: 'Minion Pro';
    font-size: 26px;
    color: #ffffff;
    padding-top: 15px;
}

    .footer div {
        margin-left: 5%;
    }

.subtitle {
    font-family: Candara;
    font-size: 26px;
    color: white;
    margin-left: 20px;
}

.bot_nav {
    font-size: 15px;
    color: white;
    font-weight: normal;
}

    .bot_nav a {
        margin-right: 10px;
    }

        .bot_nav a:hover {
            color: #497cff;
        }

.share_it {
    position: absolute;
    right: 35px;
    bottom: 0px;
}

    .share_it img {
        margin:-10px -20px;
        cursor: pointer;
    }
.to_top_button {
    background-image: url("../images/To_top_button.png");
    position: fixed;
    bottom: 120px;
    right: 173px;
    width: 92px;
    height: 64px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 23px;
    text-align: center;
    display: none;
    color: white;
    cursor: pointer;
}

    .to_top_button div {
        margin-top: 35px;
    }

    .to_top_button:hover {
        color: #497cff;
    }
@media screen and (max-width:1024px){
        .to_top_button{
            
            right:10px;
            bottom:105px;
        }
}
@media screen and (max-width:660px) {
    .footer div{
        margin-left:5px;
    }
.bot_nav{
    display:none;
}
.subtttle{
    display:none;
}
.subtitle{
    margin-left:10px;
    margin-bottom:-5px;
    font-weight:bolder;
    font-size:40px;
}
.share_it img{
    width:70px;
    height:50px;
    padding:15px 5px;
}
.footer{
    height:70px;
    padding:0px;
    margin:0 0 0 0;
    width:100%;
    margin-left:-1.5%;
   
}
}