.news_container {
    margin-right:240px;
    margin-top: 61px;
    margin-left: 29px;
    display:inline-block;
    width:auto;
}
.news_block {   
    background-color:white;
    height:396px;
    width:331px;
    display:inline-block;
    margin-right:22px;
    margin-bottom:35px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2); 
    cursor:pointer;
}
    .news_block:hover {
        animation-name: dark_hover;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
.news_block a {
    color:#d1cbc5;
    font-family:Impact;
    margin-left:18px;
    font-size:24px;
}
.news_block a:hover {
    color: #497cff;
}
.news_title {
    padding: 15px 14px 0px 13px;
    font-size: 23px;
    font-family: "Candara";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
}
.news_subtitle {
    font-size: 22px;
    font-family: "Candara";
    color: rgb(0, 0, 0);
    line-height:1.2;
    padding-left:18px;
}
.news_block hr{
    width:305px;
    background-color:black;
    height:0.5px;
    margin-top:-1px;
}
.news_block img{
    margin-left:26px;
}
.popnews_container {
    height:486px;
    top:106px;
    right:15px;
    width: 250px;
    background-color: #dadada;
    position:fixed;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.popnews_container .pop_title {
    font-size: 25px;
    font-weight: bold;
    font-family: "Adobe Clean";
    color: #323232;
    text-align:center;
    padding:0;
    margin-top:5px;
}
.popnews_container hr{
    width:183px;
    height:0.5px;
    background-color:white;
    border:0;
    margin-top:10px;

}
.pop_news img{
    position:fixed;
    margin-left:-16px;
    margin-top:25px;
}
.pop_news {
    font-family: Candara;
    font-size: 17px;
    padding: 0px 15px;
    font-weight: 500;
    margin-top: -15px;
    color:black;
}
    .pop_news:hover {
        color: #497cff;
    }
.popnews_time {
    font-size: 11px;
    font-family: Candara;
    color: #4d4d4d;
    margin-left:5px;
    margin-bottom:25px;
}
.popnews_container a{
   color: #505050;
   margin-left:32px;
   font-size:15px;
   font-weight:bold;
}
.popnews_container a:hover {
   color: #497cff;
}
.popnews_container>a{
    color:#505050;
}

.to_top_button {
    background-image:url("../images/To_top_button.png");
    position: fixed;
    bottom: 120px;
    right: 173px;
    width: 92px;
    height: 64px;
    border-radius:5px;
    font-weight:bolder;
    font-size:23px;
    text-align:center;
    display:none;
    color:white;
    cursor:pointer;
}
.to_top_button div{
    margin-top:35px;
}
    .to_top_button:hover {

        color: #497cff;
    }

    @media screen and (max-width:660px) {
        .popnews_container {
            display: none;
        }

        .news_block {
            width: 98%;
            text-align: center;
            margin-left: 1%;
            margin-bottom: 8px;
            height: auto;
            padding-bottom: 25px;
            padding-right: 5px;
            cursor: pointer;
        }

            .news_block hr {
                background-color: #b2b2b2;
                width: 90%;
            }

            .news_block > a {
                display: none;
            }

        .news_container {
            margin: 15px 0 0 0;
        }

        .to_top_button {
            display: none;
        }

        .mob_pop {
            display: block;
            background-color: #aaaaaa;
            height: 58px;
            text-align: center;
            margin: 58px 0 0 1%;
            border: 2px solid #d9d9c6;
            font-size: 40px;
            font-family: Candara;
            color: white;
            width: 98%;
        }

        .mob_bot_nav {
            margin: 20px 0 20px 0;
            display: block;
            margin-left: 1%;
            width: 100%;
        }

            .mob_bot_nav  div {
                padding: 5px 0;
                display: inline-block;
                height: 45px;
                width: 48%;
                font-size: 31px;
                background-color: #aaaaaa;
                color: #ffffff;
                font-family: Candara;
                text-align: center;
                border: 2px solid #d9d9c6;
            }
    }


    @keyframes dark_hover{

        50% {
            background-color: #e3e3e3;
        }
        100% {
            background-color: #ffffff;
        }
    }