.news_description {
    background-color: #ffffff;
    margin:98px 240px 10px 2%; 
    display: inline-block;
    width:650px;
    padding:12px 28px;
    font-size:20px;
    font-family:Candara;
}
.news_description img{
    float:left;
    margin:5px 25px 8px 15px;
    width:245px;
}
h3{
    text-align:center;
}
.other_news {
    width: 655px;
    height:338px;
    background-color: #f3f2f2;
    border-radius:5px;
}
.other_news a{
    color:black;
}
.div_subtitle {
    background-color: #9f9f9f;
    color:white;
    text-align:center;
    font-weight:bold;
    font-family:Candara;
    font-size:26px;
    border-radius:5px;
    height:44px;
    padding-top:12px;  
}
.other_news_block {
    display: inline-block;
    width: 191px;
    height: 226px;
    background-color: #ffffff;
    margin: 14px 2px;
    padding: 15px 10px;
    font-size: 18px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.other_news_block:hover{
    background-color:#f8f8f8;        
}
.other_news_block>img{
    width:178px;
    height:119px;
    margin-left:01px;
}
.comments {
    margin-top:5px;
    width: 655px;
    height: 338px;
    background-color: #f3f2f2;
    border-radius: 5px;
}
    .comments > button {
        background-color: #ffffff;
        padding: 4px 5px;
        font-size: 23px;
        font-family: Candara;
        font-weight: bold;
        color: #6a6a6a;
        border-radius: 4px;
        border: 2px solid #cccccc;
        cursor:pointer;
    }
.com_input {
    margin-left: 10px;
    margin-top: 16px;
    width: 487px;
    padding: 4px 5px;
    font-size: 26px;
    font-family: Candara;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.com_container {
    overflow:auto;
    background-color: #ffffff;
    width: 625px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1.5px solid #c8c8c8;
    height:205px;
}
.comment{
    margin-left:15px;
    margin-top:5px;
}
.comment .login{
    display:inline-block;
    font-weight:bold;
}
.div_line{
    display:none;
}
h1 {
    font-size: 1.17em;
}
.mob_but{
    display:none;
}
@media screen and (max-width:660px) {
    .news_description {
        width: 97%;
        margin: 68px 1% 10px 1%;
        padding: 5px 5px;
    }
    .div_line {
        display: block;
        width: 95%;
        height: 2px;
        background-color: #b5b5b5;
    }
    .other_news{
        display:none;
    }
    .comments{
        display:none;
    }
    .mob_but {
        padding: 5px 0;
        display: inline-block;
        height: 45px;
        width: 98%;
        font-size: 31px;
        background-color: #aaaaaa;
        color: #ffffff;
        font-family: Candara;
        text-align: center;
        border: 2px solid #d9d9c6;
        margin-left:1%;
        margin-bottom:5px;
    }
    .news_description img {
        float: none;
        margin: 5px 25px 8px 15px;
        width: 95%;
    }
}