.popnews_container {
    height: 486px;
    top: 106px;
    right: 15px;
    width: 250px;
    background-color: #dadada;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

    .popnews_container .pop_title {
        font-size: 25px;
        font-weight: bold;
        font-family: "Adobe Clean";
        color: #323232;
        text-align: center;
        padding: 0;
        margin-top: 5px;
    }

    .popnews_container hr {
        width: 183px;
        height: 0.5px;
        background-color: white;
        border: 0;
        margin-top: 10px;
    }

.pop_news img {
    position: fixed;
    margin-left: -16px;
    margin-top: 25px;
}

.pop_news {
    font-family: Candara;
    font-size: 17px;
    padding: 0px 15px;
    font-weight: 500;
    margin-top:-15px;
    color:black;
}
    .pop_news:hover {
        color: #497cff;
    }

.popnews_time {
    font-size: 11px;
    font-family: Candara;
    color: #4d4d4d;
    margin-left: 5px;
    margin-bottom: 25px;
}

.popnews_container a {
    color: #505050;
    margin-left: 32px;
    font-size: 15px;
    font-weight: bold;
}

    .popnews_container a:hover {
        color: #497cff;
    }

.popnews_container > a {
    color: #505050;
}
@media screen and (max-width:1030px) {
    .popnews_container {
        display: none;
    }
}