@base_family:Candara;

body{
  font-family: @base_family;
  background-color: #e3e3e3;
  .er404_field{
    width:200px;
    font-size:32px;
    text-align:center;
    margin-top:15%;
    margin-left:35%;
  }
  p{
    font-size:20px;

  }
  a{
    font-size:22px;
  }
  img{
    margin-top:10px;
    float:left;
  }
}
@media screen and (max-width:660px) {
 body{
   .er404_field{
     margin-left:0;
   }
 }
}