@bot_nav: #497cff;
@fot_titl: 'Minion Pro';
@basic_family: Candara;
@fot_col: #aaaaaa;
@mob_but: #377aff;

.footer {
	width: 100%;
	position: absolute;
	height: 85px;
	background-color: @fot_col;
	margin-left: -8px;
	font-family: @fot_titl;
	font-size: 26px;
	color: #ffffff;
	padding-top: 15px;
	div {
		margin-left: 5%;
	}
}
.subtitle {
	font-family: @basic_family;
	font-size: 26px;
	color: #ffffff;
	margin-left: 20px;
}
.bot_nav {
	font-size: 15px;
	color: #ffffff;
	font-weight: normal;
	a {
		margin-right: 10px;
		&:hover {
			color: @mob_but;
		}
	}
}
.share_it {
	position: absolute;
	right: 35px;
	bottom: 0px;
	img {
		margin: -10px -20px;
		cursor: pointer;
	}
}
.to_top_button {
	background-image: url("../images/To_top_button.png");
	position: fixed;
	bottom: 100px;
	right: 173px;
	width: 92px;
	height: 64px;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 23px;
	text-align: center;
	display: none;
	color: #ffffff;
	cursor: pointer;
	div {
		margin-top: 35px;
	}
	&:hover {
		color: @mob_but;
	}
}
@media screen and (max-width:1024px) {
	.to_top_button {
		right: 10px;
		bottom: 105px;
	}
}
@media screen and (max-width:660px) {
	.footer {
		div {
			margin-left: 5px;
		}
		height: 70px;
		padding: 0px;
		margin: 0 0 0 0;
		width: 100%;
		margin-left: -1.5%;
	}
	.bot_nav {
		display: none;
	}
	.subtttle {
		display: none;
	}
	.subtitle {
		margin-left: 10px;
		margin-bottom: -5px;
		font-weight: bolder;
		font-size: 40px;
	}
	.share_it {
		img {
			width: 70px;
			height: 50px;
			padding: 15px 5px;
		}
	}
}
