@pop_titl: #323232;
@hovlink: #497cff;
@linkc: #505050;
@fam_tit: "Adobe Clean";
@base_family: Candara;
@bgc_theme: #dadada;


.popnews_container {
	height: 486px;
	top: 106px;
	right: 15px;
	width: 250px;
	background-color: @bgc_theme;
	position: fixed;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	.pop_title {
		font-size: 25px;
		font-weight: bold;
		font-family: @fam_tit;
		color: @pop_titl;
		text-align: center;
		padding: 0;
		margin-top: 5px;
	}
	hr {
		width: 183px;
		height: 0.5px;
		background-color: #ffffff;
		border: 0;
		margin-top: 10px;
	}
	a {
		color: @linkc;
		margin-left: 32px;
		font-size: 15px;
		font-weight: bold;
		&:hover {
			color: @hovlink;
		}
	}
	>a {
		color: @linkc;
	}
}
.pop_news {
	img {
		position: fixed;
		margin-left: -16px;
		margin-top: 25px;
	}
	font-family: @base_family;
	font-size: 17px;
	padding: 0px 15px;
	font-weight: 500;
	margin-top: -15px;
	color: #000000;
	&:hover {
		color: @hovlink;
	}
}
.popnews_time {
	font-size: 11px;
	font-family: @base_family;
	color: #4d4d4d;
	margin-left: 5px;
	margin-bottom: 25px;
}
@media screen and (max-width:1030px) {
	.popnews_container {
		display: none;
	}
}
