.about_info {
  background-color: #ffffff;
  margin: 98px 240px 10px 2%;
  display: inline-block;
  width: 650px;
  padding: 12px 28px;
  font-size: 20px;
  font-family: Candara;
}
.about_info a {
  color: #606060;
}
h1 {
  font-size: 1.17em;
}
.map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 527px;
  height: 392px;
  border: 5px solid #c0c0c0;
  border-radius: 5px;
}
.map iframe {
  border-style: none;
  width: 100%;
  height: 100%;
}
.div_line {
  display: none;
}
.show_map {
  display: none;
}
@media screen and (max-width: 660px) {
  .map {
    display: none;
  }
  .show_map {
    padding: 5px 0;
    display: inline-block;
    height: 45px;
    width: 95%;
    font-size: 31px;
    background-color: #aaaaaa;
    color: #ffffff;
    font-family: Candara;
    text-align: center;
    border: 2px solid #d9d9c6;
  }
  .show_map a {
    color: #ffffff;
  }
  .about_info {
    width: 97%;
    margin: 50px 1% 10px 1%;
    padding: 5px 5px;
  }
  h1 {
    text-align: center;
  }
  .div_line {
    display: block;
    width: 95%;
    height: 2px;
    background-color: #b5b5b5;
  }
}
