body {
  font-family: Candara;
  background-color: #e3e3e3;
}
body .er404_field {
  width: 200px;
  font-size: 32px;
  text-align: center;
  margin-top: 15%;
  margin-left: 35%;
}
body p {
  font-size: 20px;
}
body a {
  font-size: 22px;
}
body img {
  margin-top: 10px;
  float: left;
}
@media screen and (max-width: 660px) {
  body .er404_field {
    margin-left: 0;
  }
}
