.header {
  position: fixed;
  background: url("../images/theme.jpg") -250px 0px;
  width: 100%;
  height: 83px;
  top: 0px;
  left: 0px;
}
body {
  background-color: #e3e3e3;
}
.name_text {
  font-family: 'OCR-A BT';
  font-size: 52px;
  color: #2f2f2f;
  margin: -60px 0px;
}
.name {
  text-align: center;
}
.emblem {
  margin-right: 335px;
}
.topnav {
  width: 100%;
  height: 28px;
  background-color: #aaaaaa;
  position: absolute;
  bottom: 0px;
  color: #f3f3f3;
  font-family: Candara;
  font-weight: bold;
  font-size: 18px;
}
.dropmenu {
  margin-top: 0px;
  margin-bottom: -6px;
  margin-left: -30px;
  cursor: pointer;
}
.dropmenu > ul {
  display: inline-block;
  margin-bottom: 3px;
  margin-left: -10px;
}
.dropmenu > li {
  display: inline-block;
  margin-bottom: 3px;
}
.dropmenu img {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: -3px;
}
.ar {
  padding-bottom: 4px;
  cursor: pointer;
}
.search {
  font-family: Candara;
  border-radius: 2px;
  margin-top: 2px;
  display: flex;
  padding: 0px 2px 2px 2px;
  height: 19px;
  width: 158px;
  background-color: #e3e3e3;
}
.search button {
  border-radius: 1px;
  box-shadow: 0px 0px 2px #afafaf;
  border: 1px solid #579ca7;
  margin-top: 3px;
  width: 37px;
  height: 17px;
  margin-left: 1px;
  font-size: 10px;
  padding: 0px;
  background-color: #c8c8c8;
  font-weight: bold;
  font-family: Candara;
}
.search input {
  border-radius: 1px;
  box-shadow: 0px 0px 2px #afafaf;
  border: 1px solid #d1d1d1;
  background-color: #dedede;
  width: 118px;
  margin-top: 3px;
  height: 15px;
  font-size: 11px;
  padding: 0 2px;
  font-family: Candara;
}
.topsettings {
  margin-top: -24px;
  list-style: none;
}
.topsettings > ul {
  display: inline-block;
  list-style: none;
}
.topsettings > li {
  display: inline-block;
  width: auto;
  list-style: none;
  float: right;
  margin-top: -2px;
  margin-right: 5px;
}
.topsettings img {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: -4px;
}
.navigation {
  display: none;
}
.navigation > ul {
  padding-left: 0px;
}
.navigation li {
  list-style: none;
  padding-left: 2px;
  padding-top: 2px;
}
.navigation li:hover {
  background-color: #e3e3e3;
  color: #000000;
}
.navigation li:hover a {
  text-decoration: none;
  color: #000000;
}
.drop_nav:hover .navigation {
  background-color: #aaaaaa;
  position: absolute;
  margin-left: 6px;
  width: 101px;
  display: block;
  border: 1px solid gray;
  border-top: 0px;
  border-radius: 0 0px 2px 2px;
  font-size: 17px;
  font-weight: normal;
}
.drop_tem:hover .navigation {
  background-color: #aaaaaa;
  position: absolute;
  margin-left: -8px;
  width: 109px;
  display: block;
  border: 1px solid gray;
  border-top: 0px;
  border-radius: 0 0px 2px 2px;
  font-size: 17px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #f3f3f3;
}
.mob_header {
  display: none;
}
@media screen and (max-width: 660px) {
  .header {
    position: fixed;
    display: none;
  }
  .mob_header {
    display: block;
    position: fixed;
  }
  .top_nav_but {
    cursor: pointer;
  }
  .mob_top_nav {
    position: fixed;
    width: 104%;
    margin-top: -10px;
    margin-left: -8px;
    display: flex;
    background-image: url(../images/mob_theme.png);
    background-repeat: round;
  }
  .name_text {
    margin: 7px 0 0 0;
    display: inline;
    font-size: 46px;
    color: #000000;
  }
  .auth_but {
    margin-left: 5%;
    display: block;
    position: fixed;
    right: 2px;
    top: 5px;
    cursor: pointer;
  }
  .mob_drop_menu {
    width: 100%;
    position: fixed;
    background-color: #777777;
    height: auto;
    margin-top: 57px;
    margin-left: -8px;
    padding: 5px;
    display: none;
  }
  .mob_drop_menu > div {
    background-color: #aaaaaa;
    height: 49px;
    text-align: center;
    margin: 5px 10px;
    border: 2px solid #67666f;
    font-size: 35px;
    font-family: Candara;
    color: #ffffff;
  }
}
@media screen and (max-width: 424px) {
  .mob_emb {
    display: none;
  }
}
