.reg_area {
  background-color: #ffffff;
  margin: 98px 240px 10px 2%;
  display: inline-block;
  width: 650px;
  padding: 12px 28px;
  font-size: 20px;
  font-family: Candara;
}
h1 {
  font-size: 1.17em;
}
.in_fld {
  font-size: 20px;
  color: #afafaf;
  font-weight: bold;
}
.in_fld a {
  color: blue;
}
.in_fld input {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  display: block;
  background-color: #e4e4e4;
  border: 0;
  border-radius: 5px;
  width: 600px;
  height: 42px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 20px;
}
.in_fld .checkbox {
  width: 18px;
  height: 18px;
  display: inline;
}
.reg_but {
  background-color: #878787;
  margin-top: 17px;
  margin-bottom: 17px;
  width: 600px;
  height: 42px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.reg_but:hover {
  background-color: #797979;
}
.div_line {
  display: none;
}
@media screen and (max-width: 660px) {
  .reg_area {
    text-align: center;
    width: 97%;
    margin: 50px 1% 10px 1%;
    padding: 5px 5px;
  }
  .reg_area p {
    display: none;
  }
  .div_line {
    display: block;
    width: 95%;
    height: 2px;
    background-color: #b5b5b5;
  }
  h1 {
    text-align: center;
  }
  .in_fld {
    font-weight: bold;
    color: #000000;
    font-size: 18px;
  }
  .in_fld a {
    color: blue;
  }
  .in_fld input {
    font-size: 30px;
    background-color: #e4e4e4;
    width: 85%;
    margin-left: 7%;
    box-shadow: none;
    height: 60px;
    border-radius: 6px;
    border: 2px solid #d3d1d3;
    color: #ffffff;
  }
  .in_fld input::-webkit-input-placeholder {
    color: #ffffff;
  }
  .in_fld .checkbox {
    width: 30px;
    height: 30px;
    display: inline;
    margin-bottom: -5px;
  }
  .reg_but {
    font-size: 30px;
    background-color: #878787;
    width: 85%;
    margin-left: 0%;
    box-shadow: none;
    height: 60px;
    border-radius: 6px;
    border: 2px solid #d3d1d3;
    color: #ffffff;
  }
}
