@color_1: white;
@color_2: #6a6a6a;
@color_3: #ffffff;
@font_family_1: Candara;
@background_color_1: #ffffff;
@background_color_2: #9f9f9f;
@background_color_3: #f3f2f2;
@background_color_4: #b5b5b5;
@background_color_5: #aaaaaa;

.cast_cont {
	background-color: @background_color_1;
	margin: 98px 240px 10px 2%;
	display: inline-block;
	width: 650px;
	padding: 12px 28px;
	font-size: 20px;
	font-family: @font_family_1;
}
.div_subtitle {
	background-color: @background_color_2;
	color: @color_1;
	text-align: center;
	font-weight: bold;
	font-family: @font_family_1;
	font-size: 26px;
	border-radius: 5px;
	height: 44px;
	padding-top: 12px;
}
.comments {
	margin-top: 5px;
	width: 655px;
	height: 338px;
	background-color: @background_color_3;
	border-radius: 5px;
	>button {
		background-color: @background_color_1;
		padding: 4px 5px;
		font-size: 23px;
		font-family: @font_family_1;
		font-weight: bold;
		color: @color_2;
		border-radius: 4px;
		border: 2px solid #cccccc;
		cursor: pointer;
	}
}
.com_input {
	margin-left: 10px;
	margin-top: 16px;
	width: 487px;
	padding: 4px 5px;
	font-size: 26px;
	font-family: @font_family_1;
	border-radius: 3px;
	border: 1px solid #f1f1f1;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.com_container {
	overflow: auto;
	background-color: @background_color_1;
	width: 625px;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 4px;
	border: 1.5px solid #c8c8c8;
	height: 205px;
}
.comment {
	margin-left: 15px;
	margin-top: 5px;
	.login {
		display: inline-block;
		font-weight: bold;
	}
}
h1 {
	font-size: 1.17em;
}
.div_line {
	display: none;
}
.you_pl {
	iframe {
		width: 560px;
		height: 315px;
	}
}
.mob_but {
	display: none;
}
@media screen and (max-width:660px) {
	.cast_cont {
		width: 97%;
		margin: 50px 1% 10px 1%;
		padding: 5px 5px;
		text-align: center;
		font-size: 25px;
	}
	.comments {
		display: none;
	}
	.div_line {
		display: block;
		width: 95%;
		height: 2px;
		background-color: @background_color_4;
	}
	h1 {
		text-align: center;
	}
	.you_pl {
		iframe {
			width: 95%;
			height: 300px;
		}
	}
	.mob_but {
		margin-top: 20px;
		padding: 5px 0;
		display: inline-block;
		height: 45px;
		width: 95%;
		font-size: 31px;
		background-color: @background_color_5;
		color: @color_3;
		font-family: @font_family_1;
		text-align: center;
		border: 2px solid #d9d9c6;
	}
}
