@color_1: #ffffff;
@color_2: white;
@color_3: #497cff;
@font_family_1: 'Minion Pro';
@font_family_2: Candara;
@background_color_1: #aaaaaa;

.footer {
	width: 100%;
	position: absolute;
	height: 85px;
	background-color: @background_color_1;
	margin-left: -8px;
	font-family: @font_family_1;
	font-size: 26px;
	color: @color_1;
	padding-top: 15px;
	div {
		margin-left: 5%;
	}
}
.subtitle {
	font-family: @font_family_2;
	font-size: 26px;
	color: @color_2;
	margin-left: 20px;
}
.bot_nav {
	font-size: 15px;
	color: @color_2;
	font-weight: normal;
	a {
		margin-right: 10px;
		&:hover {
			color: @color_3;
		}
	}
}
.share_it {
	position: absolute;
	right: 35px;
	bottom: 0px;
	img {
		margin: -10px -20px;
		cursor: pointer;
	}
}
.to_top_button {
	background-image: url("../images/To_top_button.png");
	position: fixed;
	bottom: 120px;
	right: 173px;
	width: 92px;
	height: 64px;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 23px;
	text-align: center;
	display: none;
	color: @color_2;
	cursor: pointer;
	div {
		margin-top: 35px;
	}
	&:hover {
		color: @color_3;
	}
}
@media screen and (max-width:1024px) {
	.to_top_button {
		right: 10px;
		bottom: 105px;
	}
}
@media screen and (max-width:660px) {
	.footer {
		div {
			margin-left: 5px;
		}
		height: 70px;
		padding: 0px;
		margin: 0 0 0 0;
		width: 100%;
		margin-left: -1.5%;
	}
	.bot_nav {
		display: none;
	}
	.subtttle {
		display: none;
	}
	.subtitle {
		margin-left: 10px;
		margin-bottom: -5px;
		font-weight: bolder;
		font-size: 40px;
	}
	.share_it {
		img {
			width: 70px;
			height: 50px;
			padding: 15px 5px;
		}
	}
}
