@color_1: #2f2f2f;
@color_2: #f3f3f3;
@color_3: black;
@color_4: #000000;
@color_5: white;
@font_family_1: 'OCR-A BT';
@font_family_2: Candara;
@background_color_1: #e3e3e3;
@background_color_2: #aaaaaa;
@background_color_3: #c8c8c8;
@background_color_4: #dedede;
@background_color_5: #777777;

.header {
	position: fixed;
	background: url("../images/theme.jpg") -250px 0px;
	width: 100%;
	height: 83px;
	top: 0px;
	left: 0px;
}
body {
	background-color: @background_color_1;
}
.name_text {
	font-family: @font_family_1;
	font-size: 52px;
	color: @color_1;
	margin: -60px 0px;
}
.name {
	text-align: center;
}
.emblem {
	margin-right: 335px;
}
.topnav {
	width: 100%;
	height: 28px;
	background-color: @background_color_2;
	position: absolute;
	bottom: 0px;
	color: @color_2;
	font-family: @font_family_2;
	font-weight: bold;
	font-size: 18px;
}
.dropmenu {
	margin-top: 0px;
	margin-bottom: -6px;
	margin-left: -30px;
	cursor: pointer;
	>ul {
		display: inline-block;
		margin-bottom: 3px;
		margin-left: -10px;
	}
	>li {
		display: inline-block;
		margin-bottom: 3px;
	}
	img {
		display: inline-block;
		margin-top: 3px;
		margin-bottom: -3px;
	}
}
.ar {
	padding-bottom: 4px;
	cursor: pointer;
}
.search {
	font-family: @font_family_2;
	border-radius: 2px;
	margin-top: 2px;
	display: flex;
	padding: 0px 2px 2px 2px;
	height: 19px;
	width: 158px;
	background-color: @background_color_1;
	button {
		border-radius: 1px;
		box-shadow: 0px 0px 2px #afafaf;
		border: 1px solid #579ca7;
		margin-top: 3px;
		width: 37px;
		height: 17px;
		margin-left: 1px;
		font-size: 10px;
		padding: 0px;
		background-color: @background_color_3;
		font-weight: bold;
		font-family: @font_family_2;
	}
	input {
		border-radius: 1px;
		box-shadow: 0px 0px 2px #afafaf;
		border: 1px solid #d1d1d1;
		background-color: @background_color_4;
		width: 118px;
		margin-top: 3px;
		height: 15px;
		font-size: 11px;
		padding: 0 2px;
		font-family: @font_family_2;
	}
}
.topsettings {
	margin-top: -24px;
	list-style: none;
	>ul {
		display: inline-block;
		list-style: none;
	}
	>li {
		display: inline-block;
		width: auto;
		list-style: none;
		float: right;
		margin-top: -2px;
		margin-right: 5px;
	}
	img {
		display: inline-block;
		margin-top: 3px;
		margin-bottom: -4px;
	}
}
.navigation {
	display: none;
	>ul {
		padding-left: 0px;
	}
	li {
		list-style: none;
		padding-left: 2px;
		padding-top: 2px;
		&:hover {
			background-color: @background_color_1;
			color: @color_3;
			a {
				text-decoration: none;
				color: @color_3;
			}
		}
	}
}
.drop_nav {
	&:hover {
		.navigation {
			background-color: @background_color_2;
			position: absolute;
			margin-left: 6px;
			width: 101px;
			display: block;
			border: 1px solid gray;
			border-top: 0px;
			border-radius: 0 0px 2px 2px;
			font-size: 17px;
			font-weight: normal;
		}
	}
}
.drop_tem {
	&:hover {
		.navigation {
			background-color: @background_color_2;
			position: absolute;
			margin-left: -8px;
			width: 109px;
			display: block;
			border: 1px solid gray;
			border-top: 0px;
			border-radius: 0 0px 2px 2px;
			font-size: 17px;
			font-weight: normal;
		}
	}
}
a {
	text-decoration: none;
	color: @color_2;
}
.mob_header {
	display: none;
}
@media screen and (max-width:660px) {
	.header {
		position: fixed;
		display: none;
	}
	.mob_header {
		display: block;
		position: fixed;
	}
	.top_nav_but {
		cursor: pointer;
	}
	.mob_top_nav {
		position: fixed;
		width: 104%;
		margin-top: -10px;
		margin-left: -8px;
		display: flex;
		background-image: url(../images/mob_theme.png);
		background-repeat: round;
	}
	.name_text {
		margin: 7px 0 0 0;
		display: inline;
		font-size: 46px;
		color: @color_4;
	}
	.auth_but {
		margin-left: 5%;
		display: block;
		position: fixed;
		right: 2px;
		top: 5px;
		cursor: pointer;
	}
	.mob_drop_menu {
		width: 100%;
		position: fixed;
		background-color: @background_color_5;
		height: auto;
		margin-top: 57px;
		margin-left: -8px;
		padding: 5px;
		display: none;
		>div {
			background-color: @background_color_2;
			height: 49px;
			text-align: center;
			margin: 5px 10px;
			border: 2px solid #67666f;
			font-size: 35px;
			font-family: @font_family_2;
			color: @color_5;
		}
	}
}
@media screen and (max-width:424px) {
	.mob_emb {
		display: none;
	}
}
