@color_1: #d1cbc5;
@color_2: #497cff;
@color_3: rgb(0, 0, 0);
@color_4: #323232;
@color_5: black;
@color_6: #4d4d4d;
@color_7: #505050;
@color_8: white;
@color_9: #ffffff;
@font_family_1: Impact;
@font_family_2: "Candara";
@font_family_3: "Adobe Clean";
@font_family_4: Candara;
@background_color_1: white;
@background_color_2: black;
@background_color_3: #dadada;
@background_color_4: #b2b2b2;
@background_color_5: #aaaaaa;

@keyframes dark_hover {
	50% {
		background-color: #e3e3e3;
	}
	100% {
		background-color: #ffffff;
	}
}
.news_container {
	margin-right: 240px;
	margin-top: 61px;
	margin-left: 29px;
	display: inline-block;
	width: auto;
}
.news_block {
	background-color: @background_color_1;
	height: 396px;
	width: 331px;
	display: inline-block;
	margin-right: 22px;
	margin-bottom: 35px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	cursor: pointer;
	&:hover {
		animation-name: dark_hover;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
	a {
		color: @color_1;
		font-family: @font_family_1;
		margin-left: 18px;
		font-size: 24px;
		&:hover {
			color: @color_2;
		}
	}
	hr {
		width: 305px;
		background-color: @background_color_2;
		height: 0.5px;
		margin-top: -1px;
	}
	img {
		margin-left: 26px;
	}
}
.news_title {
	padding: 15px 14px 0px 13px;
	font-size: 23px;
	font-family: @font_family_2;
	color: @color_3;
	font-weight: bold;
	line-height: 1.2;
}
.news_subtitle {
	font-size: 22px;
	font-family: @font_family_2;
	color: @color_3;
	line-height: 1.2;
	padding-left: 18px;
}
.popnews_container {
	height: 486px;
	top: 106px;
	right: 15px;
	width: 250px;
	background-color: @background_color_3;
	position: fixed;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	.pop_title {
		font-size: 25px;
		font-weight: bold;
		font-family: @font_family_3;
		color: @color_4;
		text-align: center;
		padding: 0;
		margin-top: 5px;
	}
	hr {
		width: 183px;
		height: 0.5px;
		background-color: @background_color_1;
		border: 0;
		margin-top: 10px;
	}
	a {
		color: @color_7;
		margin-left: 32px;
		font-size: 15px;
		font-weight: bold;
		&:hover {
			color: @color_2;
		}
	}
	>a {
		color: @color_7;
	}
}
.pop_news {
	img {
		position: fixed;
		margin-left: -16px;
		margin-top: 25px;
	}
	font-family: @font_family_4;
	font-size: 17px;
	padding: 0px 15px;
	font-weight: 500;
	margin-top: -15px;
	color: @color_5;
	&:hover {
		color: @color_2;
	}
}
.popnews_time {
	font-size: 11px;
	font-family: @font_family_4;
	color: @color_6;
	margin-left: 5px;
	margin-bottom: 25px;
}
.to_top_button {
	background-image: url("../images/To_top_button.png");
	position: fixed;
	bottom: 120px;
	right: 173px;
	width: 92px;
	height: 64px;
	border-radius: 5px;
	font-weight: bolder;
	font-size: 23px;
	text-align: center;
	display: none;
	color: @color_8;
	cursor: pointer;
	div {
		margin-top: 35px;
	}
	&:hover {
		color: @color_2;
	}
}
@media screen and (max-width:660px) {
	.popnews_container {
		display: none;
	}
	.news_block {
		width: 98%;
		text-align: center;
		margin-left: 1%;
		margin-bottom: 8px;
		height: auto;
		padding-bottom: 25px;
		padding-right: 5px;
		cursor: pointer;
		hr {
			background-color: @background_color_4;
			width: 90%;
		}
		>a {
			display: none;
		}
	}
	.news_container {
		margin: 15px 0 0 0;
	}
	.to_top_button {
		display: none;
	}
	.mob_pop {
		display: block;
		background-color: @background_color_5;
		height: 58px;
		text-align: center;
		margin: 58px 0 0 1%;
		border: 2px solid #d9d9c6;
		font-size: 40px;
		font-family: @font_family_4;
		color: @color_8;
		width: 98%;
	}
	.mob_bot_nav {
		margin: 20px 0 20px 0;
		display: block;
		margin-left: 1%;
		width: 100%;
		div {
			padding: 5px 0;
			display: inline-block;
			height: 45px;
			width: 48%;
			font-size: 31px;
			background-color: @background_color_5;
			color: @color_9;
			font-family: @font_family_4;
			text-align: center;
			border: 2px solid #d9d9c6;
		}
	}
}
