@color_1: black;
@color_2: white;
@color_3: #6a6a6a;
@color_4: #ffffff;
@font_family_1: Candara;
@background_color_1: #ffffff;
@background_color_2: #f3f2f2;
@background_color_3: #9f9f9f;
@background_color_4: #f8f8f8;
@background_color_5: #b5b5b5;
@background_color_6: #aaaaaa;

.news_description {
	background-color: @background_color_1;
	margin: 98px 240px 10px 2%;
	display: inline-block;
	width: 650px;
	padding: 12px 28px;
	font-size: 20px;
	font-family: @font_family_1;
	img {
		float: left;
		margin: 5px 25px 8px 15px;
		width: 245px;
	}
}
h3 {
	text-align: center;
}
.other_news {
	width: 655px;
	height: 338px;
	background-color: @background_color_2;
	border-radius: 5px;
	a {
		color: @color_1;
	}
}
.div_subtitle {
	background-color: @background_color_3;
	color: @color_2;
	text-align: center;
	font-weight: bold;
	font-family: @font_family_1;
	font-size: 26px;
	border-radius: 5px;
	height: 44px;
	padding-top: 12px;
}
.other_news_block {
	display: inline-block;
	width: 191px;
	height: 226px;
	background-color: @background_color_1;
	margin: 14px 2px;
	padding: 15px 10px;
	font-size: 18px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	&:hover {
		background-color: @background_color_4;
	}
	>img {
		width: 178px;
		height: 119px;
		margin-left: 01px;
	}
}
.comments {
	margin-top: 5px;
	width: 655px;
	height: 338px;
	background-color: @background_color_2;
	border-radius: 5px;
	>button {
		background-color: @background_color_1;
		padding: 4px 5px;
		font-size: 23px;
		font-family: @font_family_1;
		font-weight: bold;
		color: @color_3;
		border-radius: 4px;
		border: 2px solid #cccccc;
		cursor: pointer;
	}
}
.com_input {
	margin-left: 10px;
	margin-top: 16px;
	width: 487px;
	padding: 4px 5px;
	font-size: 26px;
	font-family: @font_family_1;
	border-radius: 3px;
	border: 1px solid #f1f1f1;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.com_container {
	overflow: auto;
	background-color: @background_color_1;
	width: 625px;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 4px;
	border: 1.5px solid #c8c8c8;
	height: 205px;
}
.comment {
	margin-left: 15px;
	margin-top: 5px;
	.login {
		display: inline-block;
		font-weight: bold;
	}
}
.div_line {
	display: none;
}
h1 {
	font-size: 1.17em;
}
.mob_but {
	display: none;
}
@media screen and (max-width:660px) {
	.news_description {
		width: 97%;
		margin: 68px 1% 10px 1%;
		padding: 5px 5px;
		img {
			float: none;
			margin: 5px 25px 8px 15px;
			width: 95%;
		}
	}
	.div_line {
		display: block;
		width: 95%;
		height: 2px;
		background-color: @background_color_5;
	}
	.other_news {
		display: none;
	}
	.comments {
		display: none;
	}
	.mob_but {
		padding: 5px 0;
		display: inline-block;
		height: 45px;
		width: 98%;
		font-size: 31px;
		background-color: @background_color_6;
		color: @color_4;
		font-family: @font_family_1;
		text-align: center;
		border: 2px solid #d9d9c6;
		margin-left: 1%;
		margin-bottom: 5px;
	}
}
