@color_1: #323232;
@color_2: black;
@color_3: #497cff;
@color_4: #4d4d4d;
@color_5: #505050;
@font_family_1: "Adobe Clean";
@font_family_2: Candara;
@background_color_1: #dadada;
@background_color_2: white;

.popnews_container {
	height: 486px;
	top: 106px;
	right: 15px;
	width: 250px;
	background-color: @background_color_1;
	position: fixed;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	.pop_title {
		font-size: 25px;
		font-weight: bold;
		font-family: @font_family_1;
		color: @color_1;
		text-align: center;
		padding: 0;
		margin-top: 5px;
	}
	hr {
		width: 183px;
		height: 0.5px;
		background-color: @background_color_2;
		border: 0;
		margin-top: 10px;
	}
	a {
		color: @color_5;
		margin-left: 32px;
		font-size: 15px;
		font-weight: bold;
		&:hover {
			color: @color_3;
		}
	}
	>a {
		color: @color_5;
	}
}
.pop_news {
	img {
		position: fixed;
		margin-left: -16px;
		margin-top: 25px;
	}
	font-family: @font_family_2;
	font-size: 17px;
	padding: 0px 15px;
	font-weight: 500;
	margin-top: -15px;
	color: @color_2;
	&:hover {
		color: @color_3;
	}
}
.popnews_time {
	font-size: 11px;
	font-family: @font_family_2;
	color: @color_4;
	margin-left: 5px;
	margin-bottom: 25px;
}
@media screen and (max-width:1030px) {
	.popnews_container {
		display: none;
	}
}
